@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: modular-scale(1, .5em);
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$header-color: rgba(245, 245, 245, 1);
$searchbar-border: rgba(204, 204, 204, 1);
$header-link-color: rgba(51, 51, 51, 1);
$header-link-hover-color: rgba(75, 124, 188, 1);
$header-border: rgba(221, 221, 221, 1);
$github-blue: rgba(75, 124, 188, 1);
$edit-profile-border: rgba(213, 213, 213, 1);

$body-subheading-color: rgba(102, 102, 102, 1);
$list-item-border-color: rgba(238, 238, 238, 1);
$sidebar-icon-color: rgba(153, 153, 153, 1);
$repo-subtext: rgba(138, 138, 138, 1);

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

li, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

.body-content {
  @include outer-container;
  width: 1005px;
  margin: 0 auto;
  border-bottom: 1px solid $list-item-border-color;
  padding-bottom: 40px;
}

/**************************
HEADER STYLING
**************************/


header {
  height: 50px;
  background: $header-color;
  width: 100%;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  margin-bottom: 20px;
}

.header-content {
  width: 1005px;
  margin: 0 auto;
  padding: 10px;
  @include clearfix;
}

.logo-box {
  background: $header-color;
  background-image: url(../img/logo.png);
  height: 28px;
  width: 28px;
  float: left;
  border-radius: 100%;


  &:hover {
    background-image: url(../img/logo-hover.png);
  }
}

.searchbar {
  width: 360px;
  padding: 5px 8px 6px 8px;
  margin: 0 10px;
  float: left;
  font-size: .75rem;
  border-radius: 5px;
  border: 1px solid $searchbar-border;
  letter-spacing: -.4px;
}

.github-header-links {
  float: left;
  display: inline-block;
}

.github-header-list-item {
  display: inline-block;
  padding: 5px 8px 4px 8px;
  letter-spacing: -.2px;
}

.github-header-link {
  font-size: .8rem;
  font-weight: bold;
  color: $header-link-color;
  text-decoration: none;

  &:hover {
    color: $header-link-hover-color;
  }
}

.user-header-links {
  float: right;
}

.user-header-list-item {
  display: inline-block;
  margin: 0 5px;
  position: relative;

  &:hover .header-popup-triangle {
    display: block;
  }

  &:hover .header-hover-description {
    display: block;
  }
}

.user-header-link {
  text-decoration: none;
  color: $header-link-color;

  &:hover {
    color: $header-link-hover-color;
  }

  &:hover .header-triangle {
    @include triangle(8px, $header-link-hover-color, down);
  }

}

.header-triangle {
  @include triangle(8px, $header-link-color, down);
  display: inline-block;
  margin: 3px;
}

.header-avatar {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  position: relative;
  top: 50%;
  transform: translateY(20%);
}

.header-popup-triangle {
    @include triangle(12px, $header-link-color, up);
    position: absolute;
    display: none;
}

.header-popup-triangle-one {
  bottom: -9px;
  left: 2px;
}

.header-popup-triangle-two {
  bottom: -9px;
  left: 2px;
}

.header-popup-triangle-three {
  bottom: -8px;
  left: 3px;
}

.header-hover-description {
  position: absolute;
  white-space: nowrap;
  background: $header-link-color;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: .7rem;
  display: none;
}

.header-hover-description-one {
  top: 27px;
  transform: translateX(-50%);
  left: 2px;
}

.header-hover-description-two {
  top: 27px;
  transform: translateX(-50%);
  left: 2px;
}

.header-hover-description-three {
  top: 32px;
  transform: translateX(-50%);
  left: 3px;
}

/****************************
SIDEBAR STYLING
****************************/

.sidebar {
  @include span-columns(3);
  height: 500px;
  @include clearfix;
  padding-left: 12px;
}

.sidebar-avatar {
  width: 230px;
  height: 230px;
  border-radius: 5px;
}

.user-full-name {
  font-size: 1.6rem;
  margin: 0px;
  color: $header-link-color;
  clear: both;
}

.sidebar-username {
  margin: 0 0 16px 0;
  font-weight: lighter;
  font-size: 1.25rem;
  color: $body-subheading-color;
}

.sidebar-user-information-list {
  padding: 15px 0;
  border-top: 1px solid $list-item-border-color;
  border-bottom: 1px solid $list-item-border-color;
  list-style: none;
  color: $header-link-color;
}

.sidebar-user-information-list-item {
  font-size: .865rem;
  padding: 3px 0 3px 24px;
}

.sidebar-icon {
  float: left;
  margin-left: -24px;
  color: $sidebar-icon-color;
}

.sidebar-email {
  text-decoration: none;
  color: $github-blue;

  &:hover {
    text-decoration: underline;
  }
}

.sidebar-user-interactions {
  text-align: center;
  list-style: none;
  border-bottom: 1px solid $list-item-border-color;
  @include clearfix;
  padding: 15px 0;
  margin-bottom: 10px;
}

.sidebar-user-interaction {
  @include span-columns(1 of 3);
  @include omega(3n);
  display: inline-block;

  &:hover .sidebar-user-interaction-label {
    color: $github-blue;
  }
}

.sidebar-user-interaction-number {
  color: $github-blue;
  font-size: 1.8rem;
  font-weight: bold;
  display: inline-block;
}

.sidebar-user-interaction-label {
  color: $sidebar-icon-color;
  font-size: .6rem;
}

.sidebar-organizations {
  color: $header-link-color;
}

.organizations-list {
  @include clearfix;
  list-style: none;
}

.organizations-list-item {
  display: inline-block;
  width: 42px;
  margin: 0 5px 5px 0;
}

.organizations-img {
  width: 100%;
  border-radius: 3px;
}

/****************************
MAIN CONTENT STYLING
****************************/

.main-content {
  @include span-columns(9);
  @include omega;
  padding: 0 12px 0 10px;
}

.main-content-heading-top {
  border-bottom: 1px solid $header-border;
}

.nav-link {
  padding: 8px 12px;
  border: 1px solid transparent;
  font-size: .875rem;
  display: inline-block;
  position: relative;
  top: 1px;
  color: $body-subheading-color;
}

.nav-link-active {
  border: 1px solid $header-border;
  border-bottom: 1px solid white;
  border-radius: 3px 3px 0 0;
}

.edit-profile {
  float: right;
  font-size: .8rem;
  font-weight: bold;
  color: $header-link-color;
  border: 1px solid $edit-profile-border;
  border-radius: 3px;
  background-image: linear-gradient(rgba(251, 251, 251, 1), rgba(238, 238, 238, 1));
  padding: 4px 13px;
}

.bottom-repo-header {
  padding: 15px 0;
  border-bottom: 1px solid $header-border;
  @include clearfix;
}

.repo-form {
  display: inline-block;
  float: left;
}

.repo-search {
  font-size: .8125rem;
  padding: 7px 8px;
  width: 260px;
  border: 1px solid $searchbar-border;
  border-radius: 3px;
  display: inline-block;
}

.search-button {
  padding: 7px 12px 8px 12px;
  float: left;
  display: inline-block;
  font-size: .8125rem;
  font-weight: bold;
  background-image: linear-gradient(rgba(251, 251, 251, 1), rgba(238, 238, 238, 1));
  border: 1px solid $edit-profile-border;
  border-radius: 3px;
  margin: 0 4px;
}

.repo-header-list {
  list-style: none;
  float: right;
}

.repo-header-list-item {
  display: inline-block;
  margin: 8px 3px;
}

.repo-header-list-item-link {
  color: $github-blue;
  text-decoration: none;
  font-size: .875rem;

  &:hover {
    text-decoration: underline;
  }
}

.repo-link-active {
  color: black;
  font-weight: bold;
}

.new-repo-button {
  float: right;
  margin-left: 12px;
  padding: 8px 12px;
  background-image: linear-gradient(rgba(157, 212, 117, 1), rgba(112, 162, 74, 1));
  color: white;
  font-size: .8125rem;
  border: 1px solid rgba(112, 162, 74, 1);
  border-radius: 3px;

  &:hover {
    background-image: linear-gradient(rgba(145, 206, 99, 1), rgba(105, 152, 70, 1));  
  }
}



.repo-list {
  list-style: none;
}

.repo-list-name {
  display: inline-block;
  margin: 0 0 8px 0;
}

.repo-list-name-link {
  text-decoration: none;
  color: $github-blue;
  font-size: 1.25rem;

  &:hover {
    text-decoration: underline;

  }

}

.repo-list-item {
  border-bottom: 1px solid $list-item-border-color;
  padding: 30px 0;
}

.repo-stats {
  float: right;
  font-size: .75rem;
  color: $repo-subtext;
  font-weight: bold;
  position: relative;
}

.stats-icon {
  margin-left: 8px;
}

.stats-count {
  margin-left: 3px;
}

.stargazers {
  position: relative;
}

.stargazers {
  &:hover .stargazers-description {
    display: block;
  }

  &:hover .stargazers-triangle {
    display: block;
  }
}

.stargazers-description {
  position: absolute;
  white-space: nowrap;
  background: $header-link-color;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: .7rem;
  font-weight: normal;
  top: 20px;
  left: -15px;
  display: none;
}

.stargazers-triangle {
  position: absolute;
  @include triangle(12px, $header-link-color, up);
  left: 15px;
  display: none;
}

.forks {
  position: relative;
}

.forks {
  &:hover .forks-description {
    display: block;
  }

  &:hover .forks-triangle {
    display: block;
  }
}

.forks-description {
  position: absolute;
  white-space: nowrap;
  background: $header-link-color;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: .7rem;
  font-weight: normal;
  top: 20px;
  left: -7px;
  display: none;
}

.forks-triangle {
  position: absolute;
  @include triangle(12px, $header-link-color, up);
  left: 10px;
  display: none;
}

.repo-update {
  color: $repo-subtext;
  font-size: .8125rem;
}


/*************************
FOOTER
*************************/

footer {
  width: 1005px;
  margin: 0 auto;
  padding: 40px 0;
  @include clearfix;
  font-size: .75rem;
  text-align: center;
  position: relative;
}

.footer-list-item {
  display: inline-block;
  padding: 0 5px;
}

.left-footer-list {
  display: inline-block;
  list-style: none;
}

.left-footer {
  float: left;

}

.right-footer-list {
  display: inline-block;
  list-style: none;
}

.right-footer {
  float: right;

}

.footer-link {
  color: $github-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.github-copyright {
  color: $repo-subtext;
}

.footer-logo {
  position: absolute;
  left: 50%;
  top: 34px;
  width: 24px;
  height: 24px;
  background-image: url(../img/footer-logo.png);

  &:hover {
    background-image: url(../img/footer-logo-hover.png);
  }
}
