html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica; }

li, ul {
  margin: 0;
  padding: 0;
  border: 0; }

.body-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 1005px;
  margin: 0 auto; }
  .body-content::after {
    clear: both;
    content: "";
    display: table; }

/**************************
HEADER STYLING
**************************/
header {
  height: 50px;
  background: whitesmoke;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px; }

.header-content {
  width: 1005px;
  margin: 0 auto;
  padding: 10px; }
  .header-content::after {
    clear: both;
    content: "";
    display: table; }

.logo-box {
  background: whitesmoke;
  background-image: url(../img/logo.png);
  height: 28px;
  width: 28px;
  float: left;
  border-radius: 100%; }
  .logo-box:hover {
    background-image: url(../img/logo-hover.png); }

.searchbar {
  width: 360px;
  padding: 5px 8px 6px 8px;
  margin: 0 10px;
  float: left;
  font-size: .75rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  letter-spacing: -.4px; }

.github-header-links {
  float: left;
  display: inline-block; }

.github-header-list-item {
  display: inline-block;
  padding: 5px 8px 4px 8px;
  letter-spacing: -.2px; }

.github-header-link {
  font-size: .8rem;
  font-weight: bold;
  color: #333333;
  text-decoration: none; }
  .github-header-link:hover {
    color: #4b7cbc; }

.user-header-links {
  float: right; }

.user-header-list-item {
  display: inline-block;
  margin: 0 5px;
  position: relative; }
  .user-header-list-item:hover .header-popup-triangle {
    display: block; }
  .user-header-list-item:hover .header-hover-description {
    display: block; }

.user-header-link {
  text-decoration: none;
  color: #333333; }
  .user-header-link:hover {
    color: #4b7cbc; }
  .user-header-link:hover .header-triangle {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4b7cbc; }

.header-triangle {
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333333;
  display: inline-block;
  margin: 3px; }

.header-avatar {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  position: relative;
  top: 50%;
  transform: translateY(20%); }

.header-popup-triangle {
  height: 0;
  width: 0;
  border-bottom: 6px solid #333333;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  display: none; }

.header-popup-triangle-one {
  bottom: -9px;
  left: 2px; }

.header-popup-triangle-two {
  bottom: -9px;
  left: 2px; }

.header-popup-triangle-three {
  bottom: -8px;
  left: 3px; }

.header-hover-description {
  position: absolute;
  white-space: nowrap;
  background: #333333;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: .7rem;
  display: none; }

.header-hover-description-one {
  top: 27px;
  transform: translateX(-50%);
  left: 2px; }

.header-hover-description-two {
  top: 27px;
  transform: translateX(-50%);
  left: 2px; }

.header-hover-description-three {
  top: 32px;
  transform: translateX(-50%);
  left: 3px; }

/****************************
SIDEBAR STYLING
****************************/
.sidebar {
  float: left;
  display: block;
  margin-right: 1.14595%;
  width: 24.14053%;
  height: 500px;
  padding-left: 12px; }
  .sidebar:last-child {
    margin-right: 0; }
  .sidebar::after {
    clear: both;
    content: "";
    display: table; }

.sidebar-avatar {
  width: 230px;
  height: 230px;
  border-radius: 5px; }

.user-full-name {
  font-size: 1.6rem;
  margin: 0px;
  color: #333333;
  clear: both; }

.sidebar-username {
  margin: 0 0 16px 0;
  font-weight: lighter;
  font-size: 1.25rem;
  color: #666666; }

.sidebar-user-information-list {
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  list-style: none;
  color: #333333; }

.sidebar-user-information-list-item {
  font-size: .865rem;
  padding: 3px 0 3px 24px; }

.sidebar-icon {
  float: left;
  margin-left: -24px;
  color: #999999; }

.sidebar-email {
  text-decoration: none;
  color: #4b7cbc; }
  .sidebar-email:hover {
    text-decoration: underline; }

.sidebar-user-interactions {
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
  margin-bottom: 10px; }
  .sidebar-user-interactions::after {
    clear: both;
    content: "";
    display: table; }

.sidebar-user-interaction {
  float: left;
  display: block;
  margin-right: 4.74701%;
  width: 30.16866%;
  display: inline-block; }
  .sidebar-user-interaction:last-child {
    margin-right: 0; }
  .sidebar-user-interaction:nth-child(3n) {
    margin-right: 0; }
  .sidebar-user-interaction:nth-child(3n+1) {
    clear: left; }
  .sidebar-user-interaction:hover .sidebar-user-interaction-label {
    color: #4b7cbc; }

.sidebar-user-interaction-number {
  color: #4b7cbc;
  font-size: 1.8rem;
  font-weight: bold;
  display: inline-block; }

.sidebar-user-interaction-label {
  color: #999999;
  font-size: .6rem; }

.sidebar-organizations {
  color: #333333; }

/****************************
MAIN CONTENT STYLING
****************************/
.main-content {
  float: left;
  display: block;
  margin-right: 1.14595%;
  width: 74.71351%;
  margin-right: 0;
  height: 500px; }
  .main-content:last-child {
    margin-right: 0; }

.repo-list-name {
  display: inline-block; }

.repo-stats {
  float: right; }

/*# sourceMappingURL=main.css.map */
